* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ffd6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd6ff,
    #bbd0ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd6ff,
    #bbd0ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header h1 {
  font-weight: 700;
}

h1 {
  margin-top: 5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 25px 0 0 25px;
  background: white;
}
form button {
  color: black;
  border-radius: 0 25px 25px 0;
  background: #c8b6ff;
  cursor: pointer;
  transition: all 0.2s ease;
}
form button:hover {
  background: white;
  color: #c8b6ff;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  border-radius: 25px;
}
.filter-todo {
  padding: 1rem;
  border-radius: 25px 25px 25px 25px;
}
.todo li {
  flex: 1;
}

.complete-btn {
  background: #f25f5c;
  color: black;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0 0 0 0;
}

.trash-btn {
  background: #f25f5c;
  color: black;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0 25px 25px 0;
}

.trash-btn:hover {
  filter: brightness(110%);
  transition: all 0.1s ease;
}

.complete-btn {
  background: #55c3a2;
}

.complete-btn:hover {
  filter: brightness(110%);
  transition: all 0.1s ease;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #f25f5c;
  font-family: "Source Sans Pro", sans-serif;
  font-size: medium;
  cursor: pointer;
  width: 12rem;
}

select option,
.filter-todo {
  color: #2e3130;
}

select:hover {
  filter: brightness(110%);
  transition: all 0.1s ease;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #c8b6ff;
  cursor: pointer;
  pointer-events: none;
  border-radius: 0 25px 25px 0;
}
